data/out_data
data/b06x-g
data/out_data/* 
data/b06x-g/*
.DS_Store
bin/.DS_Store
bin/cache
bin/__pycache__
bin/figures
documents
bin/.ipynb_checkpoints
data/
plots/plots*
omnipathr-log/omnipathr-20220714-1502.log
